#row1 {
}

#gaugeGauche {
  text-align: center;
}
#gaugeDroite {
  text-align: center;
}
/*
#gaugeGauche1 {
  background-color: rgb(141, 132, 0);
}
#gaugeGauche2 {
  background-color: rgb(85, 79, 0);
}

#gaugeDroite1 {
  background-color: rgb(255, 238, 0);
}
#gaugeDroite2 {
  background-color: rgb(194, 181, 0);
}

#chartsDiv {
  background-color: rgb(95, 179, 0);
}

#chart1 {
  background-color: grey;
}
#chart2 {
  background-color: darkgrey;
}

#pompe1 {
  background-color: green;
}
#lumiere1 {
  background-color: red;
}
*/

#gg1 {
  margin: 0 auto;
}

#gg2 {
  margin: 0 auto;
}

#gg3 {
  margin: 0 auto;
}
#gg4 {
  margin: 0 auto;
}
