extends layouts/main
block content

    #mainContainer.container
        #row1.row
            #gaugeGauche.cell-xl-6
                #gaugeRow1.row
                    // GaugeGauche1
                    #gaugeGauche1.cell-sm
                        #gg1
                        // GaugeGauche1
                        // GaugeGauche2
                    #gaugeGauche2.cell-sm
                        #gg2
                        // GaugeGauche2
                #gaugeRow2.row
                    // GaugeGauche1
                    #gaugeDroite1.cell-sm
                        #gg3
                        // GaugeGauche1
                        // GaugeGauche2
                    #gaugeDroite2.cell-sm
                        #gg4
                        // GaugeGauche2
            #chartsDiv.cell-xl-6
                #chartsRow1.row(style='max-height: 175px;')
                    // chart1
                    // <div style="position: relative; height:30vh; width:98vw">
                    #ch1(style='width:100%;')
                    // chart1
                #chartsRow2.row(style='max-height: 175px;')
                    // chart2
                    // <div style="position: relative; height:30vh; width:98vw">
                    #ch2(style='width:100%')
                    // chart2
        #StatusRow.row
            // GaugeGauche1
            #StatusInfo.cell
                center &Eacute;tat des p&eacute;riph&eacute;riques
                #statusVentilateur.row
                    .cell-xl-1
                    .cell-xl-2 VENTILATORRRRRRR:
                    .cell-xl-1 ON
                    .cell-xl-1 Dur&eacute;e:
                    .cell-xl-1 00h15
                    .cell-xl-1 + / -
                    .cell-xl-2
                    .cell-xl-1
                    .cell-xl-1
                    .cell-xl-1
                #statusLumiere.row
                    .cell-xl-1
                    .cell-xl-2 Lumi&egrave;re
                    .cell-xl-1 OFF
                    .cell-xl-1 D&eacute;but:
                    .cell-xl-1 8:00
                    .cell-xl-1 + / -
                    .cell-xl-2 Fin:
                    .cell-xl-1 19:00
                    .cell-xl-1 +/-
                    .cell-xl-1
                #statusPompe.row
                    .cell-xl-1
                    .cell-xl-2 Pompe
                    .cell-xl-1 ON
                    .cell-xl-1 Dur&eacute;e:
                    .cell-xl-1 00m30
                    .cell-xl-1 + / -
                    .cell-xl-2
                    .cell-xl-1
                    .cell-xl-1
                    .cell-xl-1
                // GaugeGauche1
            //script(src='https://cdn.metroui.org.ua/v4/js/metro.min.js')

        script(src='metro/js/metro.min.js')
        script(src='./ressources/gauge.min.js')
        script(src='./items/tempgauge1.js')
        script(src='./items/liquidGauge.js')
        script(src='./items/humiditygauge1.js')
        script(src='./items/humiditygauge2.js')
        script(src='./items/chart24h.js')
        script(src='./items/chartHumidity.js')