extends layouts/main
block content

    #mainContainer.container
        #row1.row
            #gaugeGauche.cell-xl-6
                #gaugeRow1.row
                    // GaugeGauche1
                    #gaugeGauche1.cell-sm
                        #gg1
                        // GaugeGauche1
                        // GaugeGauche2
                    #gaugeGauche2.cell-sm
                        #gg2
                        // GaugeGauche2
                #gaugeRow2.row
                    // GaugeGauche1
                    #gaugeDroite1.cell-sm
                        #gg3
                        // GaugeGauche1
                        // GaugeGauche2
                    #gaugeDroite2.cell-sm
                        #gg4
                        // GaugeGauche2
            #chartsDiv.cell-xl-6
                #chartsRow1.row(style='max-height: 199px;')
                    // chart1
                    // <div style="position: relative; height:30vh; width:98vw">
                    #ch1(style='width:100%;')
                    // chart1
                #chartsRow2.row(style='max-height: 199px;')
                    // chart2
                    // <div style="position: relative; height:30vh; width:98vw">
                    #ch2(style='width:100%')
                    // chart2
        #StatusRow.row
            // GaugeGauche1
            #StatusInfo.cell
                center &Eacute;tat des p&eacute;riph&eacute;riques
                #statusVentilateur.row
                        .cell-xl-5
                        #fanstatus.cell-xl-1
                        #light-status.cell-xl-1
                        .cell-xl-5
                // GaugeGauche1
            //script(src='https://cdn.metroui.org.ua/v4/js/metro.min.js')

        script(src='metro/js/metro.min.js')
        script(src='./ressources/gauge.min.js')
        script(src='./items/tempgauge1.js')
        script(src='./items/liquidGauge.js')
        script(src='./items/humiditygauge1.js')
        script(src='./items/humiditygauge2.js')
        script(src='./items/chart24h.js')
        script(src='./items/chartHumidity.js')
        script(src='./items/lightstatus.js')
        script(src='./items/fanstatus.js')
        