#rowMenu.row
.cell-12
    #menu
    ul.h-menu.bg-lightSteel.fg-white.mt-2-minus
        li
            a(href='/') Home
        //li
            a(href='#') About
        li
            a(href='/capture') Dashboard